@model ICollection<MF.Models.ViewModels.Reply.ReplyOutputViewModel>
@inject MF.Services.ITopicsService topicsService
@{
    ViewData["Title"] = "Discuss";
    var topicDetails = this.topicsService.Details(ViewBag.TopicId);
}
<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<div class="mx-auto" style="width: 50rem;">
    <text class="small">domDyrvo > el tehnika > elektrouredi </text>
    </br>
    </br>
    <div class="row">
        <div class="col-lg-6">
            <div class="card small float-left" style="width: 11rem;">Published: @topicDetails.FirstPublish</div>
        </div>
        <div class="col-lg-6">
            <div class="card small float-center" style="width: 12rem;">Last update: @topicDetails.LastPublish</div>
        </div>
        </br>
        </br>
        <h3 class="col-lg-12">@topicDetails.Title</h3>
        </br>
        </br>
        <div class="col-lg-6">
            <a class="btn btn-secondary" href="#Answer" role="button">Answer</a>
            <a class="btn btn-primary" href="#" role="button">Like</a>
            <a class="btn btn-success" href="#User" role="button">Follow</a>
        </div>
        <div class="col-lg-6"></div>
    </div>
</div>
    </br>
@foreach (var reply in Model)
{
    <div class="row">
        <div class="mx-auto">
            <div class="card" style="width: 50rem;">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="float-left" id="user">@reply.Author - Beginner</h6>
                    </div>
                    <div class="col-lg-6">
                        <text class="float-right">@reply.CreatedOn #@reply.Id</text>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 50rem;">
                <div class="row">
                    <div class="col-sm-2">
                        <ul class="list-group borderless">
                            <li class="list-group-item" style="border: none"><img src="https://thumbs.dreamstime.com/z/vector-illustration-faceless-man-suit-tie-65138894.jpg" class="rounded-circle float-right" width="75" height="75" alt="..."></li>
                            <li class="list-group-item" style="border: none"></li>
                        </ul>
                    </div>
                    <div class="card-body col-lg-10">
                        <p class="card-text">@Html.Raw(@reply.Content)</p>
                        @if (reply.IsUserOwnReply)
                        {
                            <a href="Reply/Delete/@reply.Id.ToString()"><button type="submit" class="btn btn-danger  float-right">Delete</button> </a>

                        }
                        else
                        {
                            <button type="submit" class="btn btn-secondary  float-right">Quote</button>

                        }
                        <button type="button" class="btn btn-primary float-right fal fa-share ">Like</button>

                        <i class="fal fa-share"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br></br>
}
<div class="mx-auto" id="Answer" style="width: 50rem;">
    <form method="post">
        <div>
            <textarea name="content">Hello, World!</textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
        <hr />
    </form>
</div>
