@model ICollection<MF.Models.ViewModels.Reply.ReplyOutputViewModel>
@inject MF.Services.ITopicsService topicsService
@{
    ViewData["Title"] = "Discuss";
    var topicDetails = this.topicsService.Details(ViewBag.TopicId);
}
<div class="mx-auto" style="width: 50rem;">
    <text class="small">domDyrvo > el tehnika > elektrouredi </text>
    </br>
    </br>
    <div class="row">
        <div class="col-lg-6">
            <div class="card small float-left" style="width: 11rem;">Published: @topicDetails.FirstPublish</div>
        </div>
        <div class="col-lg-6">
            <div class="card small float-center" style="width: 12rem;">Last update: @topicDetails.LastPublish</div>
        </div>
        </br>
        </br>
        <h3 class="col-lg-12">@topicDetails.Title</h3>
        </br>
        </br>
        <div class="col-lg-6">
            <a href="Answer">
                <button type="button" class="btn btn-success float-left ">Answer</button>
            </a>
            <button type="button" class="btn btn-danger float-left ">Follow</button>
            <button type="button" class="btn btn-danger float-left ">Like</button>
            <button type="button" class="btn btn-success float-left ">Share</button>
        </div>
        <div class="col-lg-6"></div>
    </div>
</div>
    </br>
@foreach (var reply in Model)
{
    <div class="row">
        <div class="mx-auto">
            <div class="card" style="width: 50rem;">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="float-left">@reply.Author - Beginner</h6>
                    </div>
                    <div class="col-lg-6">
                        <text class="float-right">@reply.CreatedOn #8</text>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 50rem;">
                <div class="row">
                    <div class="col-sm-2">
                        <ul class="list-group borderless">
                            <li class="list-group-item" style="border: none"><img src="https://thumbs.dreamstime.com/z/vector-illustration-faceless-man-suit-tie-65138894.jpg" class="rounded-circle float-right" width="75" height="75" alt="..."></li>
                            <li class="list-group-item" style="border: none"></li>
                        </ul>
                    </div>
                    <div class="card-body col-lg-10">
                        <p class="card-text">@reply.Content</p>
                        @if (reply.IsUserOwnReply)
                        {
                            <a href="Reply/Delete/@reply.Id.ToString()"><button type="submit" class="btn btn-danger  float-right">Delete</button> </a>

                        }
                        else
                        {
                            <button type="submit" class="btn btn-secondary  float-right">Quote</button>

                        }
                        <button type="button" class="btn btn-primary float-right fal fa-share ">Like</button>
                        <button type="button" class="btn btn-success  float-right ">Like</button>
                        <i class="fal fa-share"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br></br>
}

